<html>
<head>
<style>
	body {
		font-size: 1.1em;
		font-family: 'lucida grande','lucida sans unicade',sans-serif;
		margin: 0 auto;
		width:80%;
	}
	h1, h2 {
		color: #211D1F;
		font-family: ;'georgia','bitstream vera serif',serif
	}
	pre {
		border: 2px solid #D5D0D2;
		background: #F4F5F5 none repeat scroll 0 0;
		color: #222222;
		font-size: 1.25em;
		padding: 0.5em;
		font-family: ;"lucida console","monaco","andale mono","bitstream vera sans mono","consolas",monospace
	}
	p {
		display:block;
		margin-bottom:3px;
	}
	input {
		font-size:1.1em;
	}
	td {
		padding:6px;
	}
	tr.odd {
		background: #CFEAD4;
	}
	tr.even {
		background: #DCF9E1;
	}
</style>
</head>
<body>
	<%= yield %>
</body>
</html>